// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p
{
color:yellow;
}
h1
{
color:#f4f4f4;
}
label
{
color:yellow;
}
a
{
color:#d7d7d7;
}