// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1
{
color:orange;
}
hr
{
color:purple;
}
p
{
color:white;
}
th
{
color:yellow;
}
a
{
color:#d4d4d4;
}